{
    "access_token": "432d.gf4h7dNJI4aQkt6rS8HvYPxYQNk4rZHl9WZguqYfKEFlOz5YevfAyonjxmBcfghd2f2QXoYvk7ApbgItzyVXRZ_IwOFnyTdfgYn3V2ja-NsSx5F4l5fewmbPy6dUL4X1tXxpbE6dfggEa3MTWXviKGPDiegrezRMSFQF4udJhnqEk8GPyC0gPK3oFP-Xzwt36544",
    "client_id": "345632668708-xcvbkcd9mbnc1520umu03gjq5fdvbx.apps.googleusercontent.com",
    "client_secret": "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d4g",
    "refresh_token": "1//0cjaoO-DYWeWOsdAGAwSNwF-L9IraWpaH5fdsEj5vn-MyEmuFYJ1HqaD1qI8wqBE3nt3FyMbsdfTQmS7DbH1czufC9xFQ",
    "token_expiry": "2023-03-31T18:48:01Z",
    "token_uri": "https://oauth2.googleapis.com/token",
    "user_agent": null,
    "revoke_uri": "https://oauth2.googleapis.com/revoke",
    "id_token": null,
    "id_token_jwt": null,
    "token_response": {
        "access_token": "432d.gf4h7dNJI4aQkt6rS8HvYPxYQNk4rZHl9WZguqYfKEFlOz5YevfAyonjxmBcfghd2f2QXoYvk7ApbgItzyVXRZ_IwOFnyTdfgYn3V2ja-NsSx5F4l5fewmbPy6dUL4X1tXxpbE6dfggEa3MTWXviKGPDiegrezRMSFQF4udJhnqEk8GPyC0gPK3oFP-Xzwt36544",
        "expires_in": 3599,
        "refresh_token": "1//0cjaoO-DYWeWOsdAGAwSNwF-L9IraWpaH5fdsEj5vn-MyEmuFYJ1HqaD1qI8wqBE3nt3FyMbsdfTQmS7DbH1czufC9xFQ",
        "scope": "https://www.googleapis.com/auth/drive.install https://www.googleapis.com/auth/drive",
        "token_type": "Bearer"
    },
    "scopes": [
        "https://www.googleapis.com/auth/drive",
        "https://www.googleapis.com/auth/drive.install"
    ],
    "token_info_uri": "https://oauth2.googleapis.com/tokeninfo",
    "invalid": false,
    "_class": "OAuth2Credentials",
    "_module": "oauth2client.client"
}
